:root {
    box-sizing: border-box;
    --primary: #7dbcea;
    --secondary: #a435f0;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-color: var(--primary) !important;
}
